.card {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 280px;
    background-color: rgba(29, 104, 133, 0.9);
    border: 2px solid black;
    max-height: 330px;
    border-radius: 10px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
        -4px -4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.card-title {
    margin: 0;
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #ffffff;
    cursor: default;
    white-space: normal;
  }

  .add-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .add-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  
  