.card {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 180px;
    background-color: rgba(29, 104, 133, 0.9);
    border: 2px solid black;
    max-height: 330px;
    border-radius: 10px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
        -4px -4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    margin: 50px auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.card-title {
    margin: 0;
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #ffffff;
    cursor: default;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}