/* src/components/Connection.css */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 90px auto;
    box-sizing: border-box;

  }
  
  .login{
    width: 400px;

    padding: 20px;
    box-sizing: border-box;
    /* background-color: salmon; */
  }

  .image{
    width: 400px;
    border-radius: none;
  }
  
  .login-container, .register-container {
    text-align: center;
  }
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  hr {
    margin: 20px 0;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .social-icons li {
    display: inline;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .copyright {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
  }
  
  .register-container p {
    margin: 20px 0;
  }
  
  .register-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  