
body {
  margin-top: 150px;
  padding: 0;
  display: flex;
  place-items: center;
  background-color: #004c58;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;

}

<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



